################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TreeShakingWithBootstrap/.vs
/src/TreeShakingWithBootstrap/Web/bin
/src/TreeShakingWithBootstrap/Web/obj/Debug
/src/TreeShakingWithBootstrap/Web/node_modules
/src/TreeShakingWithBootstrap/Web/package-lock.json
