################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TreeShakingWithBootstrao/.vs
/src/TreeShakingWithBootstrao/Web/bin
/src/TreeShakingWithBootstrao/Web/obj/Debug
/src/TreeShakingWithBootstrao/Web/node_modules
/src/TreeShakingWithBootstrao/Web/package-lock.json
