################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TreeShakingWithFontAwesome/.vs
/src/TreeShakingWithFontAwesome/Web/bin
/src/TreeShakingWithFontAwesome/Web/obj/Debug
/src/TreeShakingWithFontAwesome/Web/node_modules
/src/TreeShakingWithFontAwesome/Web/package-lock.json
